<h1>Edit Your Profile Here</h1>

<% if @test_user && @test_user.errors.any? %>
    <h3><%= @test_user.errors.full_messages.first %><h3>
<% end %>
<br>

<%= render 'user_information_form' %>
<br>
<br>

<%= button_to "DELETE User", current_user, "method" => :delete %>
