<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0">Sign Up Here!</h1>
<h4><%= link_to "Or Click Here to Login", login_path %></h4>




<%= form_for @user do |f|%>
    <%= render 'user_information_form' %>
<% end %>


    </div>
  </div>
</header>
