<header class="masthead">
<div class=" d-flex h-75 align-items-center">
<h1>Newsr Stats</h1>
<h4>
<table style="width:500">
  <tr>
    <th style="color: rgba(255, 255, 255, 0.5)" >Superlative    </th>
   
    <th style="color: rgba(255, 255, 255, 0.5)">Current Champ</th>
  </tr>
  <tr>
    <td style="color: rgba(255, 255, 255, 0.5)">Most popular article: </td>
    <td><%= link_to most_popular_article.title, most_popular_article, class: "link-color" %></td>
  </tr>
  <tr>
    <td style="color: rgba(255, 255, 255, 0.5)">Most popular user: </td>
    <td><%= link_to most_popular_user.username, most_popular_user, class: "link-color" %></td>
  </tr>
  <tr>
    <td style="color: rgba(255, 255, 255, 0.5)">Most popular search: </td>
    <td style="color: grey"><%= most_popular_search_term %></td>
  </tr>
  <tr>
    <td style="color: rgba(255, 255, 255, 0.5)">Most prolific friender: </td>
    <td><%= link_to most_prolific_friender.username, most_prolific_friender, class: "link-color" %></td>
  </tr>
</table>
</h4>
 </div>
</header>